<div class="primary">
  <div class="title-wrapper">
    <h1>Some title about coffee</h1>
    <h3>Sub title about coffee</h3>
  </div>
</div>
<div class="secondary">
  <p>
    Proident sint nulla ea eiusmod aliqua laboris sint in. Exercitation in
    voluptate amet nostrud deserunt enim veniam cupidatat tempor tempor. Lorem
    proident exercitation minim fugiat consequat dolor adipisicing proident
    excepteur non. Lorem sint duis proident aute Lorem esse exercitation. Velit
    qui aute dolore mollit do labore sunt officia ex ea deserunt nisi velit.
    Lorem aliquip velit aliquip duis dolor pariatur sit. Sunt ullamco
    consectetur velit reprehenderit veniam magna elit incididunt. Aute laborum
    fugiat ea esse eu laborum qui ad cupidatat. In excepteur ipsum eu nostrud
    duis consectetur nisi sunt nulla ad est cillum nostrud. Mollit ex quis
    consectetur ad Lorem nisi qui nulla duis laborum.
  </p>
</div>
