<!-- <img src="/assets/coffee1.jpg" class="background"/> -->
<app-section-title></app-section-title>
<app-section [fade]="['out']" [backgroundImage]="'/assets/coffee1-large.jpg'">
  <div class="item left">
    <h1>Some Title</h1>
    <p>
      Proident dolore laborum pariatur duis consectetur velit quis in dolor
      voluptate magna. Aliquip duis tempor et incididunt cupidatat duis culpa.
      Labore deserunt quis magna exercitation id deserunt nostrud. Eu
      consectetur exercitation sit exercitation in duis nisi.
    </p>
    <p>
      Anim qui culpa proident proident occaecat in aute laboris nisi ullamco
      enim elit. Tempor quis do ea veniam incididunt enim adipisicing non
      excepteur quis. Eu veniam adipisicing officia incididunt aliqua occaecat
      ullamco ex. Qui et consequat reprehenderit nisi excepteur aliqua commodo
      cillum tempor commodo sint id ea. Cillum sit ex et irure Lorem elit.
      Aliqua veniam in elit aute non cupidatat fugiat. Ad duis non irure
      adipisicing laboris magna dolor officia dolor do est quis enim ut. Minim
      quis ullamco deserunt ad est et amet enim deserunt commodo. Minim pariatur
      non laboris nulla mollit quis exercitation Lorem excepteur anim pariatur.
    </p>
  </div>

  <div class="item right">
    <h1>Title about something else</h1>
    <p>
      Proident dolore laborum pariatur duis consectetur velit quis in dolor
      voluptate magna.
    </p>
    <p>
      Aliquip duis tempor et incididunt cupidatat duis culpa. Labore deserunt
      quis magna exercitation id deserunt nostrud. Eu consectetur exercitation
      sit exercitation in duis nisi. Anim qui culpa proident proident occaecat
      in aute laboris nisi ullamco enim elit. Tempor quis do ea veniam
      incididunt enim adipisicing non excepteur quis. Eu veniam adipisicing
      officia incididunt aliqua occaecat ullamco ex. Qui et consequat
      reprehenderit nisi excepteur aliqua commodo cillum tempor commodo sint id
      ea. Cillum sit ex et irure Lorem elit.
    </p>
    <p>
      Aliqua veniam in elit aute non cupidatat fugiat. Ad duis non irure
      adipisicing laboris magna dolor officia dolor do est quis enim ut. Minim
      quis ullamco deserunt ad est et amet enim deserunt commodo. Minim pariatur
      non laboris nulla mollit quis exercitation Lorem excepteur anim pariatur.
    </p>
  </div>
</app-section>
<app-section [backgroundImage]="'/assets/coffee-3-large.jpg'">
  <div class="item center">
    <p>
      Proident dolore laborum pariatur duis consectetur velit quis in dolor
      voluptate magna. Aliquip duis tempor et incididunt cupidatat duis culpa.
      Labore deserunt quis magna exercitation id deserunt nostrud. Eu
      consectetur exercitation sit exercitation in duis nisi. Anim qui culpa
      proident proident occaecat in aute laboris nisi ullamco enim elit. Tempor
      quis do ea veniam incididunt enim adipisicing non excepteur quis. Eu
      veniam adipisicing officia incididunt aliqua occaecat ullamco ex. Qui et
      consequat reprehenderit nisi excepteur aliqua commodo cillum tempor
      commodo sint id ea. Cillum sit ex et irure Lorem elit. Aliqua veniam in
      elit aute non cupidatat fugiat. Ad duis non irure adipisicing laboris
      magna dolor officia dolor do est quis enim ut. Minim quis ullamco deserunt
      ad est et amet enim deserunt commodo. Minim pariatur non laboris nulla
      mollit quis exercitation Lorem excepteur anim pariatur.
    </p>
  </div>

  <div class="item right">
    <p>
      Proident dolore laborum pariatur duis consectetur velit quis in dolor
      voluptate magna. Aliquip duis tempor et incididunt cupidatat duis culpa.
      Labore deserunt quis magna exercitation id deserunt nostrud. Eu
      consectetur exercitation sit exercitation in duis nisi. Anim qui culpa
      proident proident occaecat in aute laboris nisi ullamco enim elit. Tempor
      quis do ea veniam incididunt enim adipisicing non excepteur quis. Eu
      veniam adipisicing officia incididunt aliqua occaecat ullamco ex. Qui et
      consequat reprehenderit nisi excepteur aliqua commodo cillum tempor
      commodo sint id ea. Cillum sit ex et irure Lorem elit. Aliqua veniam in
      elit aute non cupidatat fugiat. Ad duis non irure adipisicing laboris
      magna dolor officia dolor do est quis enim ut. Minim quis ullamco deserunt
      ad est et amet enim deserunt commodo. Minim pariatur non laboris nulla
      mollit quis exercitation Lorem excepteur anim pariatur.
    </p>
  </div>
</app-section>
<app-section [fade]="['in']" [backgroundImage]="'/assets/coffee-4-large.jpg'">
  <div class="item right">
    <h1>Title about something else</h1>
    <p>
      Proident dolore laborum pariatur duis consectetur velit quis in dolor
      voluptate magna.
    </p>
    <p>
      Aliquip duis tempor et incididunt cupidatat duis culpa. Labore deserunt
      quis magna exercitation id deserunt nostrud. Eu consectetur exercitation
      sit exercitation in duis nisi. Anim qui culpa proident proident occaecat
      in aute laboris nisi ullamco enim elit. Tempor quis do ea veniam
      incididunt enim adipisicing non excepteur quis. Eu veniam adipisicing
      officia incididunt aliqua occaecat ullamco ex. Qui et consequat
      reprehenderit nisi excepteur aliqua commodo cillum tempor commodo sint id
      ea. Cillum sit ex et irure Lorem elit.
    </p>
    <p>
      Aliqua veniam in elit aute non cupidatat fugiat. Ad duis non irure
      adipisicing laboris magna dolor officia dolor do est quis enim ut. Minim
      quis ullamco deserunt ad est et amet enim deserunt commodo. Minim pariatur
      non laboris nulla mollit quis exercitation Lorem excepteur anim pariatur.
    </p>
  </div>
  <app-section-footer></app-section-footer>
</app-section>
