<div class="section-footer__container">
  <img
    class="image-top-left"
    src="/assets/coffee-5-large.jpg"
    alt="picture of coffee"
  />
  <div class="text-top-right">
    <h1>Yet another coffee title</h1>
    <p>
      Deserunt do id incididunt reprehenderit officia duis eu ex ipsum voluptate
      incididunt. Consequat labore in consequat cupidatat ad quis qui.
      Consectetur voluptate consectetur quis cupidatat. Pariatur eu qui ad ex
      cillum dolor cupidatat nulla incididunt ipsum labore sunt.
    </p>
    <p>
      Sint laborum culpa ex velit. Ut cupidatat quis esse ex in duis ullamco.
      Anim cillum sint do proident occaecat ut adipisicing ad enim tempor
      deserunt duis. Aliquip ad sit amet in nisi sint duis officia consequat eu
      excepteur. Ea labore non aute amet reprehenderit.
    </p>
  </div>
  <div class="text-bottom-right">
    <h1>Sheesh, how much is there to say on coffee</h1>
    <p>
      In laborum nulla deserunt sunt enim ullamco elit quis. Id aliquip sint et
      sunt deserunt magna nulla non anim consequat esse sint. Quis officia
      aliqua aliquip duis cillum. Laborum duis nulla aliquip incididunt ex
      cupidatat laborum ex incididunt esse. Sunt id sit tempor duis aliqua dolor
      sit culpa qui. Do Lorem veniam culpa qui in proident et nostrud. Sint
      fugiat velit cillum anim et excepteur aute cillum quis commodo elit velit
      ad.
    </p>
    <input type="button" value="Perhaps a button link to somewhere else"/>
  </div>
  <img
    class="image-bottom-left"
    src="/assets/coffee-6-large.jpg"
    alt="picture of coffee"
  />
</div>
